# dot directories
.*
!.gitignore
!.gitmodules

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Directories created during compilation
/build
/bin
/lst

# Editor leftovers
.*.swp
.~

# outdated Doxygen documentation
/doc/*
!/doc/Doxyfile
