# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Directories created during compilation
build
bin
lst

# Editor leftovers
.*.swp
